### 1) Write a Python function that takes a list of numbers as input and returns the sum of all even numbers in        the list.

In [6]:
def list_input(li):
    sum=0
    for num in li:
        if num % 2==0:
            sum += num
    return sum
li = [1,2,3,4,5]
list_input(li)

6

### 2. Create a Python function that accepts a string and returns the reverse of that string.

In [9]:
def rev(s):
    return str[::-1]


str = "Data Scientist"
rev(str)

'tsitneicS ataD'

### 3)Implement a Python function that takes a list of integers and returns a new list containing the squares of       each number.

In [12]:
def square(li):
    sq=[]
    for n in li:
        sq.append(n*n)
    return sq    
li=[1,2,3,4,5]
square(li)

[1, 4, 9, 16, 25]

### 4) Write a Python function that checks if a given number is prime or not from 1 to 200.

In [40]:
def check_prime(num):
    if(0<num<201):
        if num == 1:
            return "Not Prime"
        elif num == 2:
            return "Prime"
        else:
            for i in range(3, num):
                if num % i == 0:
                    return "Not Prime"
            return "Prime"
num = 21
check_prime(num)

'Not Prime'

### 5)Create an iterator class in Python that generates the Fibonacci sequence up to a specified number of terms.

In [6]:
def fib(n):
    a=0
    b=1
    for i in range (n):
        yield a
        a,b = b,a+b
for num in fib(7):
    print(num)

0
1
1
2
3
5
8

### 6.) Write a generator function in Python that yields the powers of 2 up to a given exponent

In [13]:
def power(n):
    for i in range(n):
        yield i**2
n=5
for result in power(n):
    print(result)

0
1
4
9
16

### 7.)  Implement a generator function that reads a file line by line and yields each line as a string.

In [9]:
def read_file_lines(f):
    with open(file_path, 'r') as file:
        for line in file:
            yield line.strip()
f = 'Ratan_Tata.txt'
for line in read_file_lines(f):
    print(line)

Ratan Naval Tata (born 28 December 1937) is an Indian industrialist, philanthropist and former chairman of Tata Sons. He was a chairman of the Tata Group from 1990 to 2012, and interim chairman from October 2016 through February 2017. He continues to head its charitable trusts.[2][3] In 2008, he received the Padma Vibhushan, the second highest civilian honour in India, after receiving the Padma Bhushan, the third highest civilian honour in 2000.

He is the son of Naval Tata, who was adopted by Ratanji Tata, son of Jamsetji Tata, the founder of the Tata Group. He graduated from the Cornell University College of Architecture with a bachelor's degree in architecture.[5] He joined Tata in 1961, where he worked on the shop floor of Tata Steel. He later succeeded J. R. D. Tata as chairman of Tata Sons upon the latter's retirement in 1991. Under his tenure the Tata Group acquired Tetley, Jaguar Land Rover, and Corus, in an attempt to turn Tata from a largely India-centric group into a global business. Tata is also one of the largest philanthropists in the world, having donated around 60â€“65% of his income to charity.

 ### 8) Use a lambda function in Python to sort a list of tuples based on the second element of each tuple.

In [18]:
list_of_tuples = [(1, 5), (3, 2), (2, 8), (4, 3), (5, 1)]
sorted_list = sorted(list_of_tuples, key=lambda x: x[1])
print(sorted_list)

[(5, 1), (3, 2), (4, 3), (1, 5), (2, 8)]

### 9) Write a Python program that uses `map()` to convert a list of temperatures from Celsius to Fahrenheit

In [22]:
def convert(n):
    return (9/5) * n + 32
celsius = [17, 44, 3, -3, 0]
f = list(map(convert,celsius))
print(f)

[62.6, 111.2, 37.4, 26.6, 32.0]

### 10) Create a Python program that uses `filter()` to remove all the vowels from a given string

In [27]:
def remove_vowels(s):
    vowels = 'aeiouAEIOU'
    return ''.join(filter(lambda x: x not in vowels, s))
s = "Hello, World!"
result = remove_vowels(s)
print(result)

Hll, Wrld!

In [2]:
# Define the list of orders
orders = [
    [34587, 40.95, 4],
    [98762, 56.8, 5,
    [77226, 32.95, 3],
    [88112, 24.99, 3],
]

# Lambda function to calculate the product and adjust if total is less than 100
calculate_total = lambda order: (order[0], (order[1] * order[2]) + 10 if (order[1] * order[2]) < 100 else (order[1] * order[2]))

# Using map() with lambda function to compute results
result = list(map(calculate_total, orders))

# Print the result
print(result)

SyntaxError: '[' was never closed (514243799.py, line 2)